<p class='message block block-50'>
  <span class="department"><%= book.department %></span>
  <span class="coursenumber"> <%= book.coursenumber%></span><br>
  Name: <span class="name"><%= book.name %></span><br>
  <span class="price">Price:$ <%= book.price %></span><br>
  <span class="condition">Condition: <%= book.condition %></span><br>
  Owner: <span class="user"><%= link_to book.user.name, book.user %></span><br>
  <!-- <span class="college">College: <%= book.college %></span> -->
  <span class="userContact">Contact: <%= book.user.email %></span><br>
  <span class="additional">Additional Comment: <%= book.additional %></span>
  <a href="#"><%= image_tag("message.png",:class=>"smallicon messageicon") %></a>
  <a href="#"><%= image_tag("email.png",:class=>"smallicon emailicon") %></a><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(book.created_at) %> ago.
    <% if current_user?(book.user) %>
    	<%= link_to "delete", book, method: :delete, data: {confirm:"You sure?"} %>
    <% end %>
  </span>
</p>