<li id="book-<%= book.id %>">
  <span class="user"><%= link_to book.user.name, book.user %></span>
  <span class="name">Name: <%= book.name %></span>
  <span class="name">College: <%= book.college %></span>
  <span class="name">Department: <%= book.department %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(book.created_at) %> ago.
    <% if current_user?(book.user) %>
    	<%= link_to "delete", book, method: :delete, data: {confirm:"You sure?"} %>
    <% end %>
  </span>
</li>